* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(226, 226, 226);
    overflow-x: scroll;

    .tabs {
        display: flex;
        gap: 10px;
        margin: 0 auto;
        width: fit-content;
        padding: 8px 40px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px -2px #0000001A;
        box-shadow: 0px 4px 6px -1px #0000001A;
        border-radius: 10px;
        justify-content: center;
        width: 900px;
        border-collapse: collapse;

    }

    .tabs {
        position: relative;
    }
    .tab {
        padding: 10px 25px;
        border: none;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 14px;
            height: 14px;
        }

        .ro {
            display: none;
        }
    }

    .style-1 .tab {
        border-radius: 30px;


    }

    .style-1 .active {
        color: #1f5be7;
        background-color: rgb(243, 243, 243);
    }

    .style-2 .tab {
        border-radius: 30px;


    }

    .style-2 .active {
        background: linear-gradient(120deg, #6bbcfe, #0c44e0);
        color: #ffffff;
    }

    .style-3 {}

    .style-3 .tab {

        position: relative;
    }

    .style-3 .tab .tr {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #2488fa;
        bottom: 0;
        left: 48.5%;
        display: none;

    }

    .style-3 .active .tr {
        display: block;
    }

    .style-3 .active {
        color: #2488fa;
    }

    .style-4 .tab {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .style-4 .active {
        color: #1264f1;
        border-bottom: 2px solid #0c44e0;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-5 .tab {
        border-radius: 6px;



    }

    .style-5 .active {
        background: linear-gradient(120deg, #d5cfff, #9be6ff);
        color: #2280f4;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-6 .tab {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .style-6 .active {
        color: #1264f1;
        border-bottom: 2px solid #0c44e0;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-7 .box {
        padding: 5px 10px;
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        display: flex;
        gap: 10px;
    }

    .style-7 .box .tab {
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;


    }

    .style-7 .box .active {
        background-color: #ffffff;
        color: #1b5dce;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-8 {
        position: relative;
        overflow: hidden;
        background-color: rgb(243, 243, 243);

    }

    .style-8 .but {
        position: absolute;
        width: 100%;
        height: 12px;
        bottom: 0;
        background-color: #ffffff;
        z-index: 2;
    }

    .style-8 .tab {
        border-radius: 5px;
        background-color: rgb(243, 243, 243);
        position: relative;
        z-index: 1;

    }

    .style-8 .active {
        background-color: #ffffff;
        color: #1b5dce;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }
}