* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(226, 226, 226);
    overflow-x: scroll;

    .tabs {
        display: flex;
        gap: 10px;
        margin: 0 auto;
        width: fit-content;
        padding: 8px 40px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px -2px #0000001A;
        box-shadow: 0px 4px 6px -1px #0000001A;
        border-radius: 10px;
        justify-content: center;
        width: 900px;
        border-collapse: collapse;

        .i {
            position: absolute;
            left: 50px;
        }
    }

    .tabs {
        position: relative;
    }

    .tab {
        padding: 10px 25px;
        border: none;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        img {
            width: 14px;
            height: 14px;
        }

        .ro {
            display: none;
        }
    }

    .style-1 .tab {
        border-radius: 30px;


    }

    .style-1 .active {
        color: #1f5be7;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .style-1::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 10px;
        border-radius: 30px;
        left: var(--left);
        width: var(--width);
        height: calc(100% - 20px);
        background-color: rgb(243, 243, 243);
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-2 .tab {
        border-radius: 30px;


    }

    .style-2 .active {
        position: relative;
        z-index: 1;
        background-color: transparent;
        color: #ffffff;
    }

    .style-2::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 10px;
        border-radius: 30px;
        left: var(--left);
        width: var(--width);
        height: calc(100% - 20px);
        background: linear-gradient(120deg, #6bbcfe, #0c44e0);
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }


    .style-3 .tab {
        position: relative;
    }

    .style-3 .active {
        color: #2488fa;
    }

    .style-3::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: calc(var(--left) + var(--width) / 2 - 8px);
        width: var(--width);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #476fdd;
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-4 .tab {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .style-4 .active {
        color: #1264f1;
        /* border-bottom: 2px solid #0c44e0; */

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-4::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--left);
        width: var(--width);
        height: 2px;
        background-color: #0c44e0;
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-5 .tab {
        border-radius: 6px;



    }

    .style-5 .active {
        z-index: 1;
        background-color: transparent;
        color: #2280f4;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-5::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 10px;
        border-radius: 30px;
        left: var(--left);
        width: var(--width);
        height: calc(100% - 20px);
        background: linear-gradient(120deg, #d5cfff, #9be6ff);
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-6 .tab {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .style-6 .active {
        color: #1264f1;
        /* border-bottom: 2px solid #0c44e0; */

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-6::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: var(--left);
        width: var(--width);
        height: 2px;
        background-color: #0c44e0;
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-7 .box {
        padding: 5px 10px;
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        display: flex;
        gap: 10px;
    }

    .style-7 .box .tab {
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;


    }

    .style-7 .box .active {
        z-index: 1;
        background-color: transparent;
        color: #1b5dce;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-7::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 12px;
        border-radius: 5px;
        left: var(--left);
        width: var(--width);
        height: calc(100% - 24px);
        background-color: #ffffff;
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .style-8 {
        position: relative;
        overflow: hidden;
        background-color: rgb(243, 243, 243);

    }

    .style-8 .but {
        position: absolute;
        width: 100%;
        height: 12px;
        bottom: 0;
        background-color: #ffffff;
        z-index: 2;
    }

    .style-8 .tab {
        border-radius: 5px;
        background-color: rgb(243, 243, 243);
        position: relative;
        z-index: 1;

    }

    .style-8 .active {
        color: #1b5dce;
        background-color: transparent;
        z-index: 1;

        .ro {
            display: block;
        }

        .ch {
            display: none;
        }
    }

    .style-8::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: var(--left);
        width: var(--width);
        height: calc(100% - 20px);
        border-radius: 5px;
        background-color: #ffffff;
        transition:
            left 0.35s cubic-bezier(0.4, 0, 0.2, 1),
            width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    }

}